@page "{id:string?}"
@model Assignment.Pages.Employees.SkillAssesmentModel
@{
    ViewData["Title"] = "SkillAssesment";
}
@if(Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}
<h2>Skill Assessment</h2>
<form method="post" value="Add Skills">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Skill.Id" />
    <h3>Ratings</h3>
    <div class="form-group"> 
        <label asp-for="Skill.BasicUnderstanding">Basic understanding:</label>
        <select asp-for="Skill.BasicUnderstanding" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="form-group">
        <label>Working Experience:</label>
        <select asp-for="Skill.WorkingExperience" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="form-group">
        <label>Extensive Experience:</label>
        <select asp-for="Skill.ExtensiveExperience" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="form-group">
        <label>Subject Matter Experience:</label>
        <select asp-for="Skill.SubjectMatterExperience" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <h3>Skill Group: Technical Skills</h3>
    <div class="form-group">
        <label>Database:</label>
        <select asp-for="Skill.Database" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="form-group">
        <label>Programming:</label>
        <select asp-for="Skill.Programming" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="form-group">
        <label>Java Rating:</label>
        <select asp-for="Skill.Java" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="form-group">
        <label>CSharp Rating:</label>
        <select asp-for="Skill.CSharp" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="form-group">
        <label>Python Rating:</label>
        <select asp-for="Skill.Python" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="form-group">
        <label>Web Programming Rating:</label>
        <select asp-for="Skill.WebProgramming" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="form-group">
        <label>Other Technical Rating:</label>
        <select asp-for="Skill.OtherTechnicalSkills" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <h3>Skill Group: Soft skills</h3>
    <div class="form-group">
        <label>Verbal Communication:</label>
        <select asp-for="Skill.VerbalCommunication" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="form-group">
        <label>Written Communication:</label>
        <select asp-for="Skill.WrittenCommunication" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="form-group">
        <label>Foreign Language Rating:</label>
        <select asp-for="Skill.ForeignLanguage" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="form-group">
        <label>Teamwork Rating:</label>
        <select asp-for="Skill.Teamwork" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="form-group">
        <label>ProblemSolving Rating:</label>
        <select asp-for="Skill.ProblemSolving" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="form-group">
        <label>DecisionMaking Rating:</label>
        <select asp-for="Skill.DecisionMaking" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="form-group">
        <label>Leadership Rating:</label>
        <select asp-for="Skill.Leadership" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
